[Desktop Entry]
Name=Howdy Tray
Comment=Face authentication tray icon
Exec=/usr/bin/howdy-gtk --minimized
Icon=howdy
Terminal=false
Type=Application
Categories=System;Settings;Security;
X-GNOME-Autostart-enabled=true
